table{
    border: 1px solid black;
    width: 100%;
    border-spacing: 2px;
}

#rounded-corner td {
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
    padding: 8px;
}
#rounded-corner th{
    padding: 8px;
}
#rounded-corner thead th.rounded-company {
    background: #b9c9fe left -1px no-repeat;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b9c9fe;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #b3d9ff}

.button:active {
    background-color: #b3d9ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn2{
    margin-left: 20px;
}

#btn1{
    margin-right: 50px;
}

#rowbtn{
    display: flex;
}

#msg{
    color: red;
}